.log-page {
  @include verticalCenter;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  background: url(../../../public/assets/groupomania-log.png) no-repeat;
  background-size: cover;
  background-position: center;

  .form-container {
    @include verticalCenter;
    border-radius: 45px;
    background: $white-alt;
    gap: 50px;
    padding: 15px;

    ul {
      li {
        @include verticalCenter;
        border-radius: 40px;
        background-color: $color-3;
        margin: 20px 5px;
        padding: 10px;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: $color-1;
        }
      }
    }

    h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
      display: flex;
      flex-wrap: wrap;
      width: 20ch;
    }
  }
}
