.page-profil {
  margin: 0 auto;
  padding: 3vh;
  .user-desc {
    .user-global-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      margin: 1rem 0;

      @media screen and(max-width: 675px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
      }

      .user-left-container {
        @include verticalCenter;
        flex-direction: column;
        gap: 15px 0;

        > img {
          height: 250px;
          width: 250px;
          border-radius: 50%;
          object-fit: cover;

          @media screen and(max-width: 300px) {
            height: 170px;
            width: 170px;
          }
        }

        form {
          @include verticalCenter;
          flex-direction: column;
          gap: 20px;

          label {
            @include verticalCenter;
            width: 200px;
            padding: 10px;
            cursor: pointer;
            background-color: $color-1;
            border-radius: 10px;
            color: $white;

            @media screen and(max-width: 300px) {
              max-width: 70vw;
            }
          }

          input[type="file"] {
            display: none;
          }

          input[type="submit"] {
            width: 200px;
            padding: 10px;
            cursor: pointer;
            background-color: $color-3;
            border-radius: 10px;
            border: $color-3 solid 1px;
            font-family: $font-1;
            color: $white;
            font-size: 16px;

            @media screen and(max-width: 300px) {
              max-width: 70vw;
            }

            &:hover {
              background-color: $color-1;
              border: $color-1 solid 1px;
            }
          }
        }
      }

      .user-right-container {
        @include verticalCenter;
        flex-direction: column;
        gap: 30px 0;

        @media screen and(max-width: 230px) {
          max-width: 150px;
        }

        .bio-update {
          background-color: $white;
          border: 2px solid $color-2;
          border-radius: 20px;
          padding: 1rem;

          button {
            font-family: $font-1;
            font-weight: 600;
            margin: 1rem 0;
            padding: 0.5rem 1rem;
            border: 2px solid $color-2;
            border-radius: 20px;
            background: $color-2;
            transform: translateY(-3px);
            cursor: pointer;

            @media screen and(max-width: 230px) {
              max-width: 100px;
            }
          }

          .bio-title {
            @include verticalCenter;
            margin: 1rem 0;
            font-size: 22px;
            font-weight: 500;
          }
          .bio-content {
            flex-wrap: wrap;
            max-width: 50ch;
            font-size: 18px;
            margin: 10px 0;
          }

          .followhandlers {
            cursor: pointer;
            width: max-content;
            background-color: $color-4;
            padding: 0.75rem;
            border-radius: 20px;
            margin-bottom: 0.5rem;
          }

          .bio-date {
            margin: 1rem 0;
            font-style: italic;
            font-size: 16px;
          }

          textarea {
            font-size: 1rem;
            font-weight: 500;
            font-family: Manrope, sans-serif;
            border: 1px solid $color-3;
            width: 100%;
            max-width: 85vw;
            padding: 10px;
            margin: 1rem 0;
            border-radius: 20px 20px 6px 20px;
          }

          .delete-account {
            @include verticalCenter;
            font-family: $font-1;
            font-weight: 600;
            color: $white;
            margin: 1rem 0;
            padding: 0.5rem 1rem;
            border: 2px solid rgb(150, 0, 0);
            border-radius: 20px;
            background: rgb(150, 0, 0);
            transform: translateY(-3px);
            cursor: pointer;

            @media screen and(max-width: 230px) {
              max-width: 100px;
            }
          }
        }

        .popup-profil-container {
          .modal {
            max-height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-100%);
            background: $color-2;
            padding: 25px;
            border-radius: 20px;
            box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
            transform: scaleY(0);
            transform-origin: center;
            animation: modal 0.5s forwards;

            @media screen and(max-width: 675px) {
              top: 30%;
            }

            @media screen and(max-width: 340px) {
              max-width: 260px;
              top: 50%;
            }

            @media screen and(max-width: 280px) {
              max-width: 225px;
            }

            ul {
              overflow: auto !important;
              padding: 1rem;
            }
            .modal-title {
              @include verticalCenter;
              min-width: 200px;
              margin: 0;
              font-size: 22px;
              font-weight: 500;
            }

            @keyframes modal {
              to {
                transform: scale(1) translate(-50%);
              }
            }

            .cross {
              position: absolute;
              top: 25px;
              right: 25px;
              transition: 0.1s;
              cursor: pointer;

              @media screen and(max-width: 340px) {
                right: 12px;
                top: 30px;
              }

              &:hover {
                transform: scale(1.07);
              }
            }

            li {
              display: grid;
              grid-template-columns: 110px 2fr 1fr;
              align-items: center;
              flex-direction: row;
              line-height: 2rem;
              margin: 1rem 0;

              @media screen and(max-width: 340px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
              }
              img {
                margin: 0 10px;
                height: 90px;
                min-width: 90px;
                max-width: 90px;
                border-radius: 50%;
                object-fit: cover;

                @media screen and(max-width: 340px) {
                  margin: 0;
                  margin-left: 10px;
                }
              }
              p {
                font-size: 18px;
                font-weight: 500;

                @media screen and(max-width: 340px) {
                  margin: 0;
                  margin-left: -45px;
                }
              }
            }

            span {
              button {
                margin: 0 auto;
                font-size: 14px;
                padding: 0.5rem;
                font-weight: 400;
                background-color: white;
                border-radius: 12px 6px;
                border: solid white 1px;
                cursor: pointer;

                @media screen and(max-width: 340px) {
                  margin-left: 80px;
                  margin-top: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
  .card-container {
    display: grid;
    grid-template-columns: 66px 1fr;
    border: 2px solid $color-3;
    background-color: $white;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    margin: 8px auto;
    position: relative;
    min-height: 100px;

    @media screen and(max-width: 675px) {
      display: grid;
      grid-template-columns: 100vw 0.1fr;
    }

    .card-left {
      img {
        height: 52px;
        width: 52px;
        border-radius: 20px;
        box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
        object-fit: cover;

        @media screen and(max-width: 675px) {
          height: 40px;
          width: 40px;
          border-radius: 14px;
        }
      }
      @media screen and(max-width: 675px) {
        position: absolute;
        transform: translate(10px, 10px);
      }
    }

    .card-right {
      .post-pic {
        min-height: 120px;
        max-height: 300px;
        min-width: 120px;
        max-width: 100%;
        border-radius: 20px;
        object-fit: cover;
      }

      .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 95vw;

        @media screen and(max-width: 675px) {
          flex-direction: column;
          justify-content: space-between;
        }

        @media screen and(max-width: 340px) {
          flex-direction: column;
          justify-content: space-between;
          margin-left: -30px;
        }

        .sign-date {
          font-style: italic;
          padding-right: 0.5rem;

          @media screen and(max-width: 675px) {
            display: none;
          }
        }

        .pseudo {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and(max-width: 675px) {
            display: grid;
            grid-template-columns: 2fr 1fr;
          }

          @media screen and(max-width: 340px) {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            margin-left: 50px;
          }
        }
      }

      p {
        display: flex;
        flex-wrap: wrap;
        min-width: 25ch;
        max-width: 75%;
        margin: 1rem 0;

        @media screen and(max-width: 675px) {
          min-width: 17ch;
        }

        @media screen and(max-width: 280px) {
          min-width: 6ch;
          word-break: break-all;
          word-wrap: break-word;
        }
      }

      iframe {
        @media screen and(max-width: 500px) {
          width: 85vw;
        }
        @media screen and(max-width: 400px) {
          width: 75vw;
        }
        @media screen and(max-width: 250px) {
          width: 60vw;
        }
      }

      .update-post {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        textarea {
          font-size: 1rem;
          font-weight: 500;
          font-family: Manrope, sans-serif;
          border: 1px solid $color-3;
          width: 100%;
          max-width: 85vw;
          padding: 10px;
          margin: 1rem 0;
          border-radius: 20px 20px 6px 20px;

          @media screen and(max-width: 390px) {
            max-width: 240px;
          }

          @media screen and(max-width: 240px) {
            margin-left: -50px;
            max-width: 180px;
          }
        }

        .button-container {
          .btn {
            font-family: $font-1;
            font-weight: 600;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            border: 2px solid $color-2;
            border-radius: 20px;
            background: $color-2;
            max-width: 240px;
            transform: translateY(-3px);
            cursor: pointer;
          }
        }
      }

      .button-container {
        justify-content: flex-start;
        display: flex;

        div {
          padding: 5px 9px;
          margin-left: 5px;
          background: $color-2;
          border-radius: 50px;
          transition: 0.1s;
          cursor: pointer;

          &:hover {
            transform: scale(1.07);
          }

          img {
            height: 16px;
            width: 16px;
            transform: translateY(3px);
          }
        }
      }

      .card-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 12px 0 4px;

        img {
          height: 22px;
          width: 22px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            transform: scale(1.2);
          }
        }

        .comment-icon,
        .like-container {
          display: flex;
          align-items: center;
          margin-right: 2rem;

          span {
            font-size: 1.02rem;
            position: absolute;
            transform: translate(29px, 2px);
          }
        }
      }

      .comments-container {
        .comment-container {
          background-color: $color-4;
          border-radius: 22px;
          padding: 1rem 0.5rem;
          display: grid;
          grid-template-columns: 66px 1fr;
          margin: 1rem 0;

          @media screen and(max-width: 675px) {
            display: grid;
            grid-template-columns: 100vw 1fr;
            max-width: 80vw;
          }
          @media screen and(max-width: 370px) {
            max-width: 75vw;
          }

          @media screen and(max-width: 240px) {
            max-width: 70vw;
          }
          .left-part {
            img {
              height: 52px;
              width: 52px;
              border-radius: 20px;
              box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
              object-fit: cover;

              @media screen and(max-width: 675px) {
                height: 40px;
                width: 40px;
                margin-left: 18px;
                border-radius: 14px;
              }
            }
            @media screen and(max-width: 675px) {
              position: absolute;
              transform: translate(-14px, -8px);
            }
          }
          .right-part {
            .comment-header {
              display: flex;
              justify-content: space-between;
              align-items: center;

              @media screen and(max-width: 675px) {
                flex-direction: column;
                justify-content: space-between;
              }

              @media screen and(max-width: 340px) {
                flex-direction: column;
                justify-content: space-between;
                margin-left: -30px;
              }

              .comment-date {
                font-style: italic;
                padding-right: 0.5rem;
                margin-top: 10px;

                @media screen and(max-width: 675px) {
                  display: none;
                }
              }

              .pseudo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                span:first-child {
                  margin-right: 1rem;
                  font-size: 18px;
                  font-weight: 600;

                  @media screen and(max-width: 500px) {
                    max-width: 30vw;
                  }
                }

                span:last-child {
                  @media screen and(max-width: 340px) {
                    margin-left: -30px;
                  }
                }

                @media screen and(max-width: 675px) {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                }

                @media screen and(max-width: 340px) {
                  overflow: visible !important;
                  flex-direction: column;
                  display: flex;
                  justify-content: space-between;
                  max-width: max-content;
                }
              }
            }

            p {
              @media screen and(max-width: 675px) {
                min-width: 17ch;
                word-break: break-all;
                word-wrap: break-word;
              }

              @media screen and(max-width: 280px) {
                min-width: 6ch;
                word-break: break-all;
                word-wrap: break-word;
              }
            }
            .edit-comment {
              .edit-comment-form {
                @include verticalCenter;
                flex-direction: column;

                input[type="text"] {
                  font-size: 1rem;
                  font-weight: 500;
                  font-family: Manrope, sans-serif;
                  border: 1px solid $color-3;
                  width: 100%;
                  max-width: 85vw;
                  padding: 10px;
                  margin: 1rem 0;
                  border-radius: 20px;

                  @media screen and(max-width: 675px) {
                    max-width: 70vw;
                    margin-left: -6rem;
                  }
                  @media screen and(max-width: 340px) {
                    max-width: 60vw;
                    margin-left: -6rem;
                  }
                }

                label {
                  display: none;
                }

                .btn {
                  @media screen and(max-width: 675px) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-left: -5rem;
                    gap: 10px;
                  }
                  @media screen and(max-width: 340px) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-left: -5rem;
                    gap: 10px;
                  }
                  input[type="submit"] {
                    font-family: $font-1;
                    font-weight: 600;
                    margin-top: 1rem;
                    padding: 0.5rem 1rem;
                    border: 2px solid $color-2;
                    border-radius: 20px;
                    background: $color-2;
                    width: 240px;
                    transform: translateY(-3px);
                    cursor: pointer;
                    margin: 0 1rem;

                    @media screen and(max-width: 340px) {
                      max-width: 50vw;
                    }
                  }
                }
              }
              span {
                padding: 5px 9px;
                margin-left: 5px;
                background: $color-2;
                border-radius: 50px;
                transition: 0.1s;
                cursor: pointer;

                &:hover {
                  transform: scale(1.07);
                }

                img {
                  height: 16px;
                  width: 16px;
                  transform: translateY(3px);
                }
              }
            }
          }
        }

        .comment-form {
          padding: 0 0.5rem;
          input[type="text"] {
            font-size: 1rem;
            font-weight: 500;
            font-family: Manrope, sans-serif;
            border: 1px solid $color-3;
            width: 100%;
            max-width: 90vw;
            padding: 10px;
            margin: 1rem 0;
            border-radius: 20px;

            @media screen and(max-width: 675px) {
              max-width: 80vw;
            }
            @media screen and(max-width: 340px) {
              max-width: 70vw;
            }
          }

          input[type="submit"] {
            font-family: $font-1;
            font-weight: 600;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            border: 2px solid $color-2;
            border-radius: 20px;
            background: $color-2;
            width: 240px;
            transform: translateY(-3px);
            cursor: pointer;

            @media screen and(max-width: 340px) {
              max-width: 50vw;
            }
          }
        }
      }
    }
  }

  .followhandler {
    button {
      font-family: $font-1;
      font-weight: 600;
      padding: 0.25rem 1rem;
      margin-top: 0.25rem;
      border: 2px solid $color-2;
      border-radius: 20px;
      background: $color-2;
      transform: translateY(-3px);
      cursor: pointer;
    }
  }
}
