.page-profil {

    .user-desc {
        
        h1 {
            @include verticalCenter;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .user-left-container {
            > img {
                height: 20vh;
                width: 250px;
            }
        }
    }
}