.users-container {
  @include verticalCenter;
  margin: 2rem 0;
  .followhandler {
    button {
      font-family: $font-1;
      font-weight: 600;
      padding: 0.25rem 1rem;
      margin-top: 0.25rem;
      border: 2px solid $color-2;
      border-radius: 20px;
      background: $color-2;
      transform: translateY(-3px);
      cursor: pointer;
    }
  }
  .user-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0 0.5rem;
    width: 85vw;
    max-width: 1000px;

    @media screen and(max-width: 675px) {
      display: grid;
    }

    .user-desc {
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media screen and(max-width: 340px) {
        flex-direction: column;
      }

      .user-picture {
        min-height: 110px;
        max-height: 110px;
        min-width: 110px;
        max-width: 110px;
        margin: 0 1em;
        object-fit: cover;
        cursor: pointer;
      }
      .user-infos {
        display: flex;
        flex-direction: column;

        .user-bio {
          display: flex;
          flex-wrap: wrap;
          max-width: 70ch;
        }

        .user-name {
          display: flex;
          font-weight: 700;
          font-size: 1.4em;
          cursor: pointer;

          &:hover {
            color: $color-2;
          }
        }
      }
    }

    .user-follow {
      padding: 0 0.5em;

      @media screen and(max-width: 675px) {
        margin-left: 30vw;
      }

      @media screen and(max-width: 340px) {
        margin-left: 20vw;
      }
    }
  }
}
