.header {
  display: flex;
  flex-direction: column;
  background-color: $color-1;
  min-width: 100vw;

  .logo {
    height: 10vh;
    width: 250px;

    @media screen and(max-width: 250px) {
      width: 180px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    @media screen and(max-width: 590px) {
      flex-direction: column;
    }

    a:nth-child(2) {
      @media screen and(max-width: 590px) {
        margin-bottom: 15px;
      }
    }

    a:visited {
      color: white;
    }
  }
}
